.block {
	

	.container {
		max-width: 1460px;
	}


	.row {
		letter-spacing: -8px;

		@include media('>=widescreen') {
			margin: 0 -27px;
		}

		> * {
			letter-spacing: 0;
		}

		[class^="col-"],
		[class*="col-"] {

			@include media('>=desktop') {
				@include display;
				float: none;
			}

			@include media('>=widescreen') {
				padding: 0 27px;
			}
		}
	}
}

.block__item {
	max-width: 320px;
	margin: 0 auto 30px;

	@include media('>=tablet') {
		max-width: none;
		width: auto;
		margin: 0 0 52px;
	}

	time {	
		@include font(12px,20px);
	}
}



.block__img {
	margin-bottom: 15px;
	overflow: hidden;

	@include media('>=desktop') {
		margin-bottom: 24px;
	}

	a {
		display: block;

		img {
			@include animate(transform);
		}

		&:hover {
			img {
				transform: scale(1.2);
			}
		}
	}

	img {
		max-width: none;
		width: 100%;
	}
}