.image {
}

.image__item {
	margin-bottom: 6px;
}

.image__link {
	height: 230px;
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	display: block;
}

.post__heading {
	.heading-2 {
		@include font(25px,35px);
	}
}