.search-form {
	width: 200px;
	float: right;
	margin-right: 30px;
	position: relative;

	@include media('>=tablet') {
		margin-right: 145px;
		width: 225px;
	}

	.form-control,
	input[type='search'] {
		display: block;
		width: 100%;
		height: 27px;
		background: #444143;
		color: #a19b76;
		outline: none;
		color: #7b7b7b;
		border-radius: 20px;
		border-color: #a78d3d;
		@include font(10px,16px);
		padding: 3px 25px 3px 15px;

		@include placeholder {
			color: #7b7b7b;
		}
	}

	button {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 5px;
		background: none;
		border: none;
		color: #a78d3d;
	}
}

.search-from--sidebar {
	display: none;

	@include media('>=desktop') {
		display: block;
		margin: 0 auto 33px;
		float: none;
	}

	.form-control,
	input[type="search"] {
		background: #f4f3f3;
		color: #7b7b7b;
		border: 2px solid #b79e4f;

		@include placeholder {
			color: #7b7b7b;
		}
	}

	button {
		color: #b79e4f;
	}
}