.social-networks {
	@extend %listreset;
	text-align: right;
	margin: 0 -5px;

	@include media('>=desktop') {
		
		display: block;
	}

	li {
		@include display;
		padding: 0 5px;
	}

	a {
		color: #bfbfbf;
		font-size: 23px;
		text-decoration: none;

		&:hover {
			color: #836f2e;
		}
	}

	&.social-networks--sidebar {
		text-align: center;

		@include media('>=desktop') {
			text-align: left;
		}

		@include media('>=widescreen') {
			position: absolute;
			right: 0;
			top: 0;
		}
	}

	&.social-networks--content {
		text-align: center;
		margin: 0 -3px 10px;

		@include media('>=tablet') {
			float: left;
			width: 50%;
			text-align: left;
			margin: 0;
		}

		li {
			padding: 0 3px;
			a {
				@include size(35px);
				line-height: 34px;
				font-size: 13px;
				box-shadow: 1px 1px 0 0 rgba(175, 148, 61, 0.75);
				display: block;
				border-radius: 50%;
				text-align: center;
				border: 1px solid transparent;
				display:inline-block;
				vertical-align:top;
				color: #af943d;

				@include media('>=desktop') {
					@include size(50px);
					font-size: 23px;
					line-height: 49px;
				}

				&:hover {
					border-color: #b29945;
					box-shadow: none;
					color: #787878;
				}
			}
		}
	}
}

.social-network-holder {
	@extend %clearfix;
	margin: 0 0 16px;
}