.social-networks {
	@extend %listreset;
	text-align: right;
	margin: 0 -5px;

	@include media('>=desktop') {
		
		display: block;
	}

	li {
		@include display;
		padding: 0 5px;
	}

	a {
		color: #bfbfbf;
		font-size: 23px;
		text-decoration: none;

		&:hover {
			color: #836f2e;
		}
	}

	&.social-networks--sidebar {
		text-align: center;

		@include media('>=desktop') {
			text-align: left;
		}

		@include media('>=widescreen') {
			position: absolute;
			right: 0;
			top: 0;
		}
	}
}