
.content {
	@include font(16px,30px);
	padding: 20px 0;

	@include media('>=tablet') {
		padding: 40px 0;
		@include font(23px,38px);
	}

	@include media('>=desktop') {
		@include font(18px,48px);
		padding: 76px 0 47px;
	}

	@include media('>=widescreen') {
		overflow: hidden;
		padding: 0 9.2% 0 0;
	}

	p {
		@include media('>=tablet') {
			margin: 0 0 2px;
		}

		@include media('>=desktop') {
			margin: 0 0 21px;
		}
	}
}

.like-holder {
	@include media('>=tablet') {
		float: right;
	}
}

.content-holder {
	@include font(14px,25px);
	text-align: center;

	.text-left {
		letter-spacing: 1.2px;
	}

	h2,
	.heading-2 {
		@include font(25px,30px);
		font-weight: 400;

		@include media('>=tablet') {
			text-align: left;
			@include font(28px,36px);
		}

		@include media('>=desktop') {
			@include font(33px,40px);
			margin: 0 0 29px;
		}

		a {
			color: $gray-dark;
			text-decoration: none;

			&:hover {
				text-decoration: none;
				color: lighten($gray-dark,30%);
			}
		}
	}

	.like {
		@include size(35px);
		line-height: 34px;
		font-size: 13px;
		box-shadow: 1px 1px 0 0 rgba(175, 148, 61, 0.75);
		display: block;
		border-radius: 50%;
		text-align: center;
		border: 1px solid transparent;
		color: #af943d;
		display:inline-block;
		vertical-align:top;
		float: none;
		text-decoration: none;
		margin-bottom: 10px;

		@include media('>=desktop') {
			@include size(50px);
			font-size: 23px;
			line-height: 49px;
		}


		&:hover {
			border-color: #b29945;
			box-shadow: none;
			color: #787878;
			text-decoration: none;
		}
	}

	ul:not([class]) {
		@extend %listreset;
		@include font(15px,24px);
		margin: 0 0 12px;

		li {
			margin: 0 0 5px;

			@include media('>=desktop') {
				margin: 0 0 15px;
			}
		}
	}

	.img {
		margin: 0 0 13px;
	}
}

.intro__img {
	width: 352px;
	margin: 0 auto 30px;

	@include media('>=tablet') {
		width: 220px;
		float: left;
		margin: 0 20px 20px 0;
	}

	@include media('>=desktop') {
		width: 270px;
		margin: 0 30px 20px 0;
	}

	@include media('>=widescreen') {
		width: 352px;
		margin: 0 60px 20px 0;
	}
}

.catogery {
	@extend %listreset;
	color: #3e3a39;
	@include font(0,0);
	margin: 0 -11px 0;

	li {
		@include display;
		@include font(20px,26px);
		padding: 0 11px 5px;
		position: relative;

		&:before {
			content: '';
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			background: #3e3a39;
			@include size(2px,23px);
			left: 0;
		}

		&:first-child {
			&:before {
				display: none;
			}
		}
	}

	a {
		color: #3e3a39;
		text-decoration: none;

		&:hover {
			color: darken(#3e3a39,20%);
		}
	}
}


.like {
	float: left;
	width: 40px;

	a {
		@include size(36px);
		border: 1px solid #af943d;
		border-radius: 50%;
		color: #af943d;
		font-size: 19px;
		display: block;
		text-align: center;
		line-height: 30px;
		text-decoration: none;

		&:hover {
			background: #af943d;
			color: $white;
		}
	}
}




.two-columns {
	@extend %listreset;

	@include media('>=widescreen') {
		padding: 192px 0 251px;
	}
}

