.text-block {
	margin: 0 auto 100px;
	max-width: 522px;
	text-align: center;
	font: 18px/35px $font-free;
	text-align: center;

	.big-text {
		@include font(27px,34px);

	}

	p {
		margin: 0 0 14px;
	}
}